@import "nullstyle.scss";


//Fonts connection---------------------------------------------------------------------
@font-face {
  font-family: Play;
  src: url(../fonts/play-bold-webfont.woff);
}
@font-face {
  font-family: UniSans;
  src: url(../fonts/uni-sans-heavy-webfont.ttf);
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900");
//Variables--------------------------------------------------------------------------------

$fontFamily: "Roboto";
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer : 1180px;

//Bootstrap breakpoints
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 20px;
  @media(max-width: $sm){
       padding: 0px 12px;     
}
}
@import "header.scss";